/* Global Styling */
.pointer {
  cursor: pointer;
  font-weight: 600;
}


/* -------- */
/* Homepage */
/* -------- */

.heroImage {
  background-image: url("https://i.imgur.com/paIeLQj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;


}

/* Cloud Transition */

.cloudTransition {
  position: absolute;
  z-index: 12;
  width: 80vw;
  height: 70vh;
  top: 90px;
  animation: cloudOne infinite linear 30s;
  opacity: 0.4;
}

.cloudTransition2 {
  position: absolute;
  z-index: 24;
  top: 100px;
  width: 60vw;
  height: 50vh;
  animation: cloudOne infinite linear 45s;
  opacity: 0.2;
}

.cloudTransition3 {
  position: absolute;
  z-index: 30;
  top: 200px;
  width: 80vw;
  height: 80vh;
  animation: cloudOne infinite linear 35s;
  opacity: 0.2;
}

@keyframes cloudOne {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes cloudTwo {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes cloudThree {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* Footer */

.footerCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerFooterCon {
  margin-top: 4%;
  display: flex;
  flex-direction: row;

}

.navLinks {
  font-weight: 500;

}

.hpMerch {
  width: 100vw;
  height: 50vh;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.hpMerch img {
  width: 300px;
}

.hpOuter {
  padding: 25px;

}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin: 40px;

}

.footerBottom {
  background-color: #070707;
  width: 100vw;
  height: 50px;
  color: white;
  padding: 0px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerBottom img {
  margin-left: 10px;
}

.fwHeader {
  width: 100vw;
  height: 20vh;
  background-image: linear-gradient(rgba(49, 6, 73, 0.235), rgba(14, 4, 77, 0.796)), url('https://i.imgur.com/0fE1dFb.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  box-shadow: none;
}

.navbar-menu {
  border: none;
  box-shadow: none;
}

nav a {
  background-color: black;
  box-shadow: none !important;
  box-shadow: 0px !important;
}


.pageHeader {
  font-family: "Souvenir";
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  text-align: center;
  font-size: 4rem;
  padding: 2%;
}

.homepageMerch {
  font-family: "Souvenir";
  text-align: center;
  font-size: 4rem;
  padding: 2%;
}

.merchTitle {
  font-weight: 600; 
  font-size: 12pt; 
  color: black; 
}

.merchPrice {
  font-size: 15pt; 
  font-weight: 600; 
}

.itemName {
  font-weight: 700; 
  font-size: 30pt;
  margin-top: 50px; 
  color: black; 
}

.itemPrice {
  font-weight: 600; 
  font-size: 25pt; 
  color: blue; 
}

